.map{
    position: absolute;
    display: flex;
    justify-content: center;
    right:150px;
    margin: 0 auto;
    height: 1000px;
    width: 1000px;
}

body{
    /* background-color: #f4f4f4; */
    /* background-color: #9099a2; */
    background: linear-gradient(#123352, #1d5372);
}